<div class="post-item" *ngIf="post && form">
  <ng-container [ngSwitch]="isEditMode">
    <ng-container *ngSwitchCase="false">
      <h3 class="title">{{ post.title }}</h3>
      <p class="text" [innerHTML]="post.text | safeHTML"></p>
    </ng-container>
    <ng-container *ngSwitchCase="true" [formGroup]="form">
      <input
        class="title-input"
        type="text"
        name="title"
        formControlName="title"
        placeholder="Type Title"
      />
      <textarea
        class="text-input"
        name="text"
        rows="1"
        formControlName="text"
        placeholder="Type text"
      ></textarea>
    </ng-container>
  </ng-container>

  <div class="actions-container">
    <app-tags
      [tags]="tags"
      [isEditMode]="isEditMode"
      (tagsUpdated)="updateTagsControl($event)"
    ></app-tags>
    <div class="actions" [ngSwitch]="isEditMode">
      <ng-container *ngSwitchCase="false">
        <button
          class="primary-button delete-post-button"
          (click)="deletePost()"
        >
          Delete
        </button>
        <button class="primary-button" (click)="setToEditMode(true)">
          Edit
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="true">
        <button class="secondary-button" (click)="clearChanges()">
          Cancel
        </button>
        <button class="primary-button" (click)="savePost()">Save</button>
      </ng-container>
    </div>
  </div>
</div>
