$tag-gap: calc(#{var(--base-gap)} / 2);

.post-item {
  padding: var(--base-gap);
  background-color: var(--color-white);
  border-radius: var(--base-radius);
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  display: flex;
  flex-direction: column;
  gap: var(--base-gap);

  .title,
  .text {
    margin: 0;
    line-height: 21px;
  }

  .title-input,
  .text-input {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.tag-list {
  display: flex;
  gap: $tag-gap;

  input.invalid {
    outline-color: var(--color-red);
    border: 2px solid var(--color-red);
    border-radius: var(--base-radius);
  }
}

.add-tag-button:disabled {
  background-color: var(--color-grey);
  pointer-events: none;
  cursor: default;
}

.add-button {
  font-size: 23px;
  padding: 0 $tag-gap;
  border-radius: 50%;
  width: 31px;
  height: 31px;
}

.actions-container,
.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--base-gap);
}

.actions {
  justify-content: flex-end;
}

.delete-post-button {
  background-color: var(--color-red);
}
