<div class="container">
  <ng-container *ngIf="(postList$ | async) as post; else loader">
    <div class="post-list">
      <app-select-filter
        [options]="post.tags"
        (filtered)="filterPostList($event)"
      ></app-select-filter>
  
      <ng-container *ngFor="let item of post.list; trackBy: trackById">
        <app-post
          [post]="item"
        ></app-post>
      </ng-container>
  
      <app-post
        [isEditMode]="true"
      ></app-post>
    </div>
  </ng-container>
</div>

<ng-template #loader>
  <div class="loader">Loading...</div>
</ng-template>
