<div class="container">
  <div class="loader" *ngIf="isLoading">Loading...</div>

  <div class="post-list" *ngIf="!isLoading">
    <app-select-filter
      [options]="tags"
      (filtered)="filterPostList($event)"
    ></app-select-filter>

    <ng-container *ngFor="let post of postList; trackBy: trackById">
      <app-post
        [post]="post"
        [tags]="tags"
        (postUpdated)="updatePostList($event)"
      ></app-post>
    </ng-container>

    <app-post
      [post]="newPost"
      [tags]="tags"
      [isEditMode]="!newPost.id"
      (postUpdated)="updatePostList($event)"
    ></app-post>
  </div>
</div>
